<ion-header>
  <ion-toolbar>
    <ion-title>RoupaView</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup">
        <ion-list>
          <ion-item>
            <ion-label floating>Nome da Peça</ion-label>
            <ion-input formControlName="roupa" type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Preço</ion-label>
              <ion-input formControlName="preco" type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Marca</ion-label>
              <ion-input formControlName="marca" type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Modelo</ion-label>
              <ion-input formControlName="marca" type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>marca</ion-label>
              <ion-input formControlName="marca" type="text"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Marca</ion-label>
              <ion-input formControlName="img" (change)="enviaArquivo($event)"></ion-input>
          </ion-item>
      </ion-list>
      <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
      </form>
</ion-content>
